.col img {
    width:100%;
    height:200px;
    border-radius: 3px;
    border: 3px solid lightgrey; 
    position: relative;
    cursor: pointer;
}

.img-text {
    padding:3px;
   width:100%;
   color: black;
   position:absolute;
   left: 0;
    bottom: 2%;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding:0;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
}
.img-zoom{
    position: relative;
    filter: grayscale(100%);
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}
.img-zoom:hover img {
    transform: scale(1.2);
    filter: grayscale(50%);
  }
  .img-zoom:hover  .img-text {
    font-weight: bold;
    font-size: large;
    color: white;
    opacity:1;
    bottom: 20%;
    width:90%;
    left:61px;
    cursor: pointer;
     transform: rotate(45deg);
    transform: scale(1.5) rotate(45deg);
  }
   img:hover .img-zoom{
      opacity: .5;
  }
  .container {
    padding:1em;
  }
  .row {
      margin-top: 2em;
  }
  .search-field {
      display: flex;
  }
  .header {
      display: flex;
  }
  .category{
      margin-left: 2em;
      text-transform: capitalize;
      font-weight: bold;
  }
  .header> .mat-form-field { height: 60px;}

  @media (max-width: 900px){
    .row{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
  }

  @media (max-width: 600px){
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
        grid-gap: 1em;
    }
      
}